<!DOCTYPE html>
<html lang="en" dir="" class="" style="" prefix="">
<head>
    <meta charset="UTF-8">
    <meta content="width" name="MobileOptimized">
    <meta content="true" name="HandheldFriendly">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link type="image/vnd.microsoft.icon" href="starterkit/favicon.ico" rel="shortcut icon">

    <title>Starterkit</title>

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starterkittheme/demo_regions.css') }}">

</head>
<body class="html">
<div id="page-wrapper" class="clearfix">
    <div id="page" class="clearfix">

        {% include '@StarterkitTheme/layout/l-header.html.twig' %}

        {% include '@StarterkitTheme/layout/l-preface.html.twig' %}

        {% include '@StarterkitTheme/layout/l-content-html.twig' %}

        {% include '@StarterkitTheme/layout/l-postscript.hml.twig' %}

        {% include '@StarterkitTheme/layout/l-footer.html.twig' %}

    </div>
</div>

</body>
</html>