<footer id="footer-outer-wrapper" class="outer-wrapper clearfix">
    <div id="footer-layout" class="footer-layout inner-wrapper clearfix" role="contentinfo">
        <div class="region--footer region region-footer">

            {% include '@StarterkitTheme/layout/demo-region.html.twig' with {'region' : 'Footer Region'} %}
            {% block footer %}{% endblock %}

        </div>
    </div>
</footer>