<header id="header-outer-wrapper" class="outer-wrapper clearfix" role="banner">
    <div id="header-layout" class="header-layout inner-wrapper clearfix">
        <div class="region--header region region-header">

            {% include '@StarterkitTheme/layout/demo-region.html.twig' with {'region' : 'Header Region'} %}
            {% block header %}{% endblock %}
        </div>
    </div>
</header>