<section id="postscript-outer-wrapper" class="outer-wrapper clearfix">
    <div id="postscript-layout" class="postscript-layout inner-wrapper clearfix">

            <div class="region--postscript-first region region-postscript-first">

                {% include '@StarterkitTheme/layout/demo-region.html.twig' with {'region' : 'Postscript First Region'} %}
                {% block postscript_first %}{% endblock %}

            </div>

            <div class="region--postscript-second region region-postscript-second">

                {% include '@StarterkitTheme/layout/demo-region.html.twig' with {'region' : 'Postscript Second Region'} %}
                {% block postscript_second %}{% endblock %}

            </div>

            <div class="region--postscript-third region region-postscript-third">

                {% include '@StarterkitTheme/layout/demo-region.html.twig' with {'region' : 'Postscript Third Region'} %}
                {% block postscript_third %}{% endblock %}

            </div>

            <div class="region--postscript-fourth region region-postscript-fourth">

                {% include '@StarterkitTheme/layout/demo-region.html.twig' with {'region' : 'Postscript Fourth Region'} %}
                {% block postscript_fourth %}{% endblock %}

            </div>

    </div>
</section>